# HACK3FORCE - requirements.txt
#This file lists the exact dependencies required to run HACK3FORCE properly.
#To install:
#pip install -r requirements.txt

bcrypt==4.3.0
passlib==1.7.4
argon2-cffi==23.1.0
scrypt==0.8.27
rarfile==4.2
requests==2.32.3
paramiko==3.5.1
argcomplete==3.6.2
pymysql==1.1.1
pysmb==1.2.11
pikepdf==9.8.1
msoffcrypto-tool==5.4.2
cryptography==45.0.4
pykeepass==4.1.1.post1
